.App {
  min-height: 75rem;
  height: auto;
  background: rgb(126, 226, 176);
  background: linear-gradient(
    90deg,
    rgba(126, 226, 176, 1) 0%,
    rgba(237, 221, 185, 0.8802871490393032) 100%
  );
  text-align: center;
  object-fit: cover;
}

.cart-content-child {
  display: flex;
  flex-wrap: wrap;
  width: 35rem;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 13px 11px 14px 2px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 13px 11px 14px 2px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 13px 11px 14px 2px rgba(0, 0, 0, 0.79);
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin-top: 3%;
}